:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.main {
  margin: 32px auto;
  max-width: 640px;
}

h1,
h2 {
  text-align: center;
}

#candidates hr {
  border: none;
  border-top: 1px solid gray;
}

.name {
  font-weight: 600;
  font-size: 1.2rem;
}

.candidate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message {
  display: flex;
  flex-direction: column;

  margin: 32px 0px;
}
